[class^='btn-'] {
    display: flex;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 4px;
    text-decoration: none;
    justify-content: center;
    align-items: center;

    &:active {
        transform: translateY(1px);
    }

    &.btn-primary-fill {
        background-color: var(--primary-color);
        color: var(--text-color);
        padding: 12px 28px;
    }

    &.btn-white-10 {
        background-color: var(--white10-color);
        color: var(--text-color);
        padding: 12px;
    }

}