.carousel {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;

    .carousel-items {
        display: flex;
        flex-direction: row;
        gap: 20px;
        transform: translateX(0px);
    }

    &::-webkit-scrollbar {
        height: 4px;
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #c0c0c0;
        border-radius: 1px;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

}