#hero {
    background-color: var(--bg-color);
    height: 100vh;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../img/hero.png");
    background-size: cover;
    background-position: center;

    >header {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 41.12%, rgba(0, 0, 0, 0.00) 100%);

        >div {
            display: flex;
            justify-content: space-between;
            width: 100%;

            >div {
                display: flex;
                align-items: center;
            }
        }

        & nav.links {
            & li a {
                display: flex;
                color: var(--text-color);
                text-decoration: none;
                font-size: 14px;
                padding: 3vw;

                &:active {
                    transform: translateY(1px);
                }
            }
        }

        & nav ul {
            display: none;
            align-items: center;
            gap: 10px;
            list-style: none;
            margin: 0;
            padding: 0;
            font-weight: bold;

            & .social {
                display: flex;
                padding: 8px;

            }
        }

        @media (min-width: 992px) {
            & nav ul {
                display: flex;
            }

            .btn-menu {
                display: none;
            }
        }
    }

    >section {
        display: flex;
        flex-direction: column-reverse;
        min-height: 50vh;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 41.12%, rgba(0, 0, 0, 0.00) 100%);
        width: 100%;

        >div {
            display: flex;
            flex-direction: column;
            padding: 20px;

            >h1 {
                font-size: 40px;
                font-family: Bebas;
                margin: 0;
            }

            >p {
                font-size: 14px;
                font-family: Bebas;
                margin: 0;
            }

            .buttons {
                display: flex;
                flex-direction: column;
                padding: 20px 0;
                gap: 20px;

                >button {
                    font-family: Bebas;
                    font-size: 22px;
                }
            }
        }
    }

    @media (min-width: 992px) {
        >section {
            background: transparent;
            height: calc(100vh - 110px);
            justify-content: center;

            >div {
                >h1 {
                    font-size: 86px;
                    max-width: 800px;
                    line-height: 86px;

                }

                >p {
                    font-size: 22px;
                    max-width: 800px;
                }

                .buttons {
                    flex-direction: row;
                }
            }
        }
    }
}