#latest-news {
    >div {
        padding: 20px;
        display: flex;
        flex-direction: column;

        .carousel {
            height: 320px;

            .carousel-item {
                min-width: 320px;
                max-width: 320px;

                & img {
                    width: 100%;
                }

                & a {
                    text-decoration: none;
                    color: inherit;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                & figure {
                    margin: 0;

                    & h3 {
                        font-size: 24px;
                        color: var(--black-color);
                        margin: 10px 0;
                        font-weight: 300;
                    }
                }
            }
        }
    }
}